[Desktop Entry]
Type=Application
Terminal=false
Name=Battery_VST2
Icon=D917_Battery 4.0
Exec=carla-single native vst '/home/ninez/.vst/yabridge/Battery 4.so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
