[Desktop Entry]
Type=Application
Terminal=false
Name=Kontakt_VST2
Icon=104E_Kontakt.0
Exec=carla-single native vst '/home/ninez/.vst/yabridge/Kontakt.so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
