[Desktop Entry]
Type=Application
Terminal=false
Name=Massive_VST2
Icon=0BD4_Massive.0
Exec=carla-single native vst '/home/ninez/.vst/yabridge/Massive.so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
