[Desktop Entry]
Type=Application
Terminal=false
Name=UHE-Zebra_VST2
Icon=/usr/share/icons/hicolor/64x64/apps/Zebra2.png
Exec=carla-single native vst '/home/ninez/.vst/yabridge/Zebra2(x64).so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
