[Desktop Entry]
Type=Application
Terminal=false
Name=ElementVST
Icon=net.kushview.element
Exec=carla-single native vst '/home/ninez/.vst/yabridge/KV_Element.so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
