[Desktop Entry]
Type=Application
Terminal=false
Name=ReaktorVST
Icon=1CB4_Reaktor 6.0
Exec=carla-single native vst '/home/ninez/.vst/yabridge/Reaktor 6.so'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
