[Desktop Entry]
Type=Application
Terminal=false
Name=Element_VST3
Icon=net.kushview.element
Exec=carla-single native vst3 '/home/ninez/.vst3/yabridge/KV_Element.vst3'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
