[Desktop Entry]
Type=Application
Terminal=false
Name=LoungeLizard-EP-4_VST3
StartupNotify=true
Icon=/usr/share/icons/hicolor/64x64/apps/LoungLizard-EP-4.png'
Exec=carla-single native vst3 '/home/ninez/.vst3/yabridge/Lounge Lizard EP-4.vst3'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
