[Desktop Entry]
Type=Application
Terminal=false
Name=Massive_VST3
Icon=0BD4_Massive.0
Exec=carla-single native vst3 '/home/ninez/.vst3/yabridge/Massive.vst3'
Type=Application
Categories=AudioVideo;Audio;X-Jack;
